<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1 style="color:red">This is home page</h1>
    <h1 style="color:green;">Todolists</h1>
    <form action="" method="post">
        {%csrf_token%}
        <input type="text" placeholder="Enter your todo here" name = "todolist">
        <input type="text" placeholder="Enter the number of days" name = "days">
        <button>Add Todo</button>
    </form>
<br>
<br>
<form action="" method="GET">
    <input type="text" name = "search">
    <button>Search</button>
</form>
    <a href="/">All</a>
    <a href="/?status=completed">Completed task</a>
    <a href="/?status=not_completed">Not completed task</a>
    {%for todolist in todolists%}
        {%if todolist.is_completed%}
        <a href = "/details/{{todolist.pk}}" style="text-decoration: line-through;">{{todolist.title}}</a>
        <br>
        {%else%}
        <a href = "/details/{{todolist.pk}}">{{todolist.title}}</a>
        <br>
        {%endif%}
    {%endfor%}
</body>
</html>